/*BGGNNIG OF THE RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
html, body{
  height: 100%;
}
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to w2.375ork with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

li, ul{
  list-style: none;
}

a {
  text-decoration: none;
}

*{
  caret-color: transparent;
}

/*END OF RESET*/
:root{
  --base-screen-width-desktop: 1152px;
  --base-screen-width-mobile: 375px;

  --clr-primary: #FF6464;
  --clr-secondary: #00A8CC;
  --clr-blue-100: #EDF7FA;
  --clr-blue-400: #142850;
  --clr-dark: #21243D; 
  --clr-light: #8695A4;
  --clr-black: #000;
  --clr-white: #fff;

  --ff-primary: "Heebo", sans-serif;
  --ff-body: var(--ff-primary);

  --fs-44: 2.75rem;
  --fs-16: 1rem;
  --fs-20-btn: 1.25rem;
  --fs-20-category: 1.25rem;
  --fs-22: 1.375rem;
  --fs-26: 1.625rem;
  --fs-18: 1.125rem;
  --fs-30: 1.875rem;
  --fs-24: 1.5rem;
  --fs-14: .875rem;
  

  --fw-500-medium: 500;
  --fw-700-bold: 700;
  --fw-900-black: 900;
  --fw-400-normal: 400;
}

@media (max-width: 375px){
  :root{
    --fs-44: 2rem;
    --fs-22: 1.125rem;
    --fs-26: 1.375rem;
    --fs-18: 1rem;
    --fs-30: 1.5rem;
    --fs-24: 1.5rem;
    --fs-20-category: 1rem;
  }
}
/*Utility classes*/

/* Colors */
.clr-primary { color: var(--clr-primary); }
.clr-secondary { color: var(--clr-secondary); }
.clr-dark { color: var(--clr-dark); }
.clr-light { color: var(--clr-light); }
.clr-black { color: var(--clr-black); }
.clr-white { color: var(--clr-white); }

/* Font Families */
.ff-primary { font-family: var(--ff-primary); }
/* Font Sizes */
.fs-44 { font-size: var(--fs-44); }
.fs-16 { font-size: var(--fs-16); }
.fs-20-btn { font-size: var(--fs-20-btn); }
.fs-20-category { font-size: var(--fs-20-category); }
.fs-22 { font-size: var(--fs-22); }
.fs-26 { font-size: var(--fs-26); }
.fs-18 { font-size: var(--fs-18); }
.fs-30 { font-size: var(--fs-30); }
.fs-24 { font-size: var(--fs-24); }
.fs-14 { font-size: var(--fs-14); }

/* Font Weights */
.fw-500-medium { font-weight: var(--fw-500-medium); }
.fw-700-bold { font-weight: var(--fw-700-bold); }
.fw-400-normal { font-weight: var(--fw-400-normal); }
.fw-900-black { font-weight: var(--fw-900-black); }
body{
  font-family: var(--ff-body);
}

.nav-subpages .list-items {
  display: flex;
  flex-direction: row;
  gap: 2.06rem;
}
.nav-subpages{
  display: flex;
  justify-content: flex-end;
  margin-right: 3.75rem;
  margin-top: 2rem;
}

.nav-subpages .menu-icon {
  display: none;
}

.center-horizontally{
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 6.31rem;
  max-width: 53.44rem;
  margin-top: 10.31rem;
  margin-bottom: 4.44rem;
}

.hero button {
  background-color: var(--clr-primary);
  padding: 1.063rem 1.25rem 1.063rem 1.25rem;
  border: none;
  border-radius: 2px;
}

.hero h1 {
  margin-bottom: 2.5rem;
  max-width: 31.63rem;
}

.hero p {
  margin-bottom: 2.47rem;
  max-width: 31.06rem;
}

.hero img {
  max-width: 15.5rem;
}

.recent-posts {
  background-color: var(--clr-blue-100);
  width: 100%;
  max-width: 100%;
  min-height: 24.75rem;
  padding-top: 1.69rem;
}

.recent-posts .wrapper {
  max-width: 53.5rem;
}

.recent-posts .top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.recent-posts .post {
  background-color: var(--clr-white);
  width: 26.12rem;
  min-height: 18.44rem;
  border-radius: 4px;
  padding: 1.438rem;
  padding-top: 1.5rem;
}

.recent-posts .post h1 {
  /* width: 26.12rem; */
  margin-bottom: 2.188rem;
}

.recent-posts .post-wrapper .post ul{
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  margin-bottom: 1.188rem;
}

.recent-posts .post-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.featured-works .wrapper {
  max-width: 53.62rem;
}

.featured-works .top-txt {
  line-height: 3.75rem;
  margin-bottom: .69rem;
  margin-top: 1.38rem;
}

.featured-works .post {
  display: flex;
  flex-direction: row;
  gap: 1.13rem;
}
.featured-works .post img {
  border-radius: 6px;
}
/* .featured-works .post .text-wrapper {} */

.featured-works .post button {
  background-color: var(--clr-blue-400);
  border: none;
  border-radius: 16px;
  padding: .188rem .688rem .188rem .688rem;
  margin-right: 1.62rem;
}

.featured-works .post h1 {
  margin-bottom: 1.80rem;
}

.featured-works .post .category-wrapper {
  margin-bottom: 1.38rem;
}

.featured-works .post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.95rem;
}

@media (max-width: 375px) {
  .nav-subpages .list-items {
    display: none; 
  }
  
  .nav-subpages .menu-icon {
    display: block;
  }
  
  .nav-subpages{
    margin-right: 1rem;
    margin-top: 1rem;
  }
  
  .hero img {
    max-width: 10.67rem;
  }

  .hero {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 20.5rem;
    gap: 2.12rem;
    margin-top: 3rem;
  }

  .hero h1 {
    margin-bottom: 1.31rem;
    min-height: 7.5rem;
    max-width: 13rem;
  }

  .hero p {
    margin-bottom: 1.69rem;
  }
  
  .hero button {
    max-width: 13rem;
  }

  .hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .recent-posts .post {
    width: 22.12rem;
    max-width: calc(100% - 1.38rem);
    min-height: 16.62rem;
    margin-left: .69rem;
  }

  .recent-posts .top-wrapper a {
    display: none;
  }

  .recent-posts .top-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent-posts .post-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }

}

